html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.grid {
  display: grid;
}

.main{

}
.body {
  background: rgb(168, 153, 47);
  color: black;
  
}

.header {
 background: aqua;
grid-area: 1/1/2/4;
}

.article {
  grid-area: article;
}

.aside {
    grid-area: aside;
   
  }

.footer {
  grid-area: footer;
}




@media screen and (min-width: 600px) {
    
.body {
    background: rgb(25, 163, 76);
}

.main {
    display: grid;
    grid-template-areas:
      "header header header"
      "article . aside"
      "footer footer footer";
      grid-template-columns: 1fr 100px 150px;
      column-gap: 16px;
      row-gap: 16px;
      grid-template-rows: 100px;
      width: 770px;
      margin: 16px auto;
  }

.footer {
    background: yellowgreen;
}

@media screen and (min-width: 1024px) {
    
    .body {
        background: rgb(40, 133, 199);
    }

 
}